body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0b2e13;
  color: white;
}

.topbar {
  background: #0f5c1f;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background: #5a1e00;
  transition: 0.3s;
  padding-top: 60px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px;
  border-bottom: 1px solid #aaa;
}

.sidebar.active {
  right: 0;
}

.hero {
  text-align: center;
  padding: 40px 20px;
}

.logo-box img {
  width: 100px;
}

.logo-box h1 {
  color: gold;
  margin: 10px 0;
}

.logo-box p {
  font-size: 12px;
  color: #ddd;
}

.content {
  margin-top: 20px;
  line-height: 1.6;
}::-webkit-scrollbar-thumb {
    background: #e2e8f0;
    border-radius: 10px;
}

/* Animations */
.fade-in {
    animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Input Fields */
input, select {
    font-size: 16px !important; /* Inazuia iOS zoom-in wakati wa kuandika */
}
